@CHARSET "UTF-8";

@font-face {
	font-family: DancingScript;
	src: url("../fonts/DancingScript-Regular.otf")
	format("opentype");
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;	
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #adff2f 100%);	
}

.font-text {
	font-family: DancingScript, Arial, Helvetica, sans-serif;
	font-size: 32px;
}

.font-text-small {
	font-family: DancingScript, Arial, Helvetica, sans-serif;
	font-size: 26px;
}

.centered-container {
	display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.wedding_pair {
	position: fixed;
    bottom: 0;
    right: 0;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}



@keyframes fyling_heart {
    0%   {bottom: 135px;right: 36px; opacity: 1.0;}
    100% {bottom: 44%;right: 36px; opacity: 0.0;}
}

.animated {
    position: fixed;
    animation-name: fyling_heart;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}